@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-swiper-pagination .swiper-pagination-bullet {
  background-color: #193d6f;
  opacity: 1;
  width: 10px;
  height: 10px;
  margin: 0 6px;
  border-radius: 50%;
  transition: transform 0.3s;
}

.custom-swiper-pagination .swiper-pagination-bullet-active {
  background-color: #e0f780;
  transform: scale(1.3);
}
